@page "/"
<MudText Typo="Typo.h2">Hello @Environment.UserName!</MudText>
<MudText Typo="Typo.body1">There are <b>@(DisplayData.Count(entry => entry.LastContact.AddSeconds(ConfigDataContext.Config.DueTimeSpan) < DateTime.Now))</b> Contacts that deserve your attention.</MudText>

@if (DisplayData.Any(entry => entry.LastContact.AddSeconds(ConfigDataContext.Config.DueTimeSpan) < DateTime.Now))
{
    <MudSimpleTable Striped="true">
        <thead>
        <tr>
            <th></th>
            <th>Name</th>
            <th>Contact</th>
            <th>Last Contact</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var contact in DisplayData.Where(entry => entry.LastContact.AddSeconds(ConfigDataContext.Config.DueTimeSpan) < DateTime.Now))
        {
            <tr>
                <td><MudIcon Icon="@contact.AddressType.GetIcon()"></MudIcon></td>
                <td>@contact.Name</td>
                <td>
                    <a href="@contact.ContactAddress.ToSocialMediaLink(contact.AddressType)">@contact.ContactAddress.ToSocialMediaLink(contact.AddressType)</a>
                </td>
                <td>@contact.LastContact.ToString("G")</td>
                <td>
                    <MudStack>
                        <MudButton ButtonType="ButtonType.Button" Variant="Variant.Text" OnClick="@(() => SetAsContacted(contact.Uuid))">Set as Contacted</MudButton>
                        <MudButton ButtonType="ButtonType.Button" Variant="Variant.Text" OnClick="@(() => NavigationManager.NavigateTo($"/Contacts/{contact.Uuid:N}"))">Open Profile</MudButton>
                    </MudStack>
                </td>
            </tr>
        }
        </tbody>
    </MudSimpleTable>
}

<MudDivider Class="my-2"/>

<MudText Typo="Typo.h4">The next Contact due:</MudText>
@if (NextDueEntry is not null)
{
    <MudCard Outlined="true">
        <MudCardContent >
            <MudText Typo="Typo.h5"><MudIcon Icon="@NextDueEntry.AddressType.GetIcon()" /> @NextDueEntry.Name</MudText>
            <MudText Typo="Typo.body2">In @((NextDueEntry.LastContact.AddSeconds(ConfigDataContext.Config.DueTimeSpan) - DateTime.Now).Days) Days</MudText>
            <MudText Typo="Typo.body2">
                <a href="@NextDueEntry.ContactAddress.ToSocialMediaLink(NextDueEntry.AddressType)">@NextDueEntry.ContactAddress.ToSocialMediaLink(NextDueEntry.AddressType)</a>
            </MudText>
        </MudCardContent>
        <MudCardActions>
            <MudButton Variant="Variant.Text" OnClick="@(() => SetAsContacted(NextDueEntry.Uuid))">Set as Contacted</MudButton>
            <MudButton Variant="Variant.Text" OnClick="@(() => NavigationManager.NavigateTo($"/Contacts/{NextDueEntry.Uuid:N}"))">Open Profile</MudButton>
        </MudCardActions>
    </MudCard>
}
else
{
    <p>You have no Contacts.</p>
}